#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Set font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Set default font family and color */
body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set default styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Set default styles for images */
img {
  max-width: 100%;
  height: auto;
}
